/*
	Syntax of using CSS rules;

	selector{
		property: value;
	}
*/


* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

h1	{
	color: yellow !important;
}

#zuitt-motto{
	letter-spacing: 5px;
}

.offering-item{
	text-transform: uppercase;
}

/*Adjacent Sibling selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant selector*/
/*element-for-reference target-element*/
#bootcamp-learning-list li{
	color: #F4B400;
}

/*General Sibling selector*/
h2 ~ a{
	text-decoration: none;
}


body > section > form > label {
	color: rgb(86, 199, 219);
}

body {
	background-color: skyblue;
}

section{
	height: 100vh;
	text-align: center;
}

html{
	scroll-behavior: smooth;
}
nav{
	background-color: white;
}

a:hover{
	background-color: darkred;
	color: orangered;
}