/*===============CSS Reset===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
	font-family: "Open Sans", monospace;
}

.navbar {
	padding: 10px;
	text-align: center;
	position: sticky;
	top: 0;
	background-color: white;
}


.nav-logo {
	vertical-align: middle;
	display: inline;
}

.right-nav {
	display: inline-block;
	margin-left: 300px;
}

.nav {
	display: inline;
	padding: 10px;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 25px;
}

.apply-button {
	color: white;
	background-color: #c2195b;
	width: 150px;
	height: 40px;
	margin-top: 10px;
	border: none;
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;	
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 45vh;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
}

.front-bg {
	min-height: 45vh;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: right;
	padding-right: 5rem;
	padding-top: 2rem;
}

.title {
	font-family: "Zilla Slab";
	font-size: 2.5rem ;
	padding: 10px;
}

.subtitle {
	font-size: 19px;
	padding-left: 55%;
	font-weight: normal;
}


.intro-description {
	margin-left: 7rem;
	margin-right: 7rem;
	margin-bottom: 4rem;
}
.pre-footer {
	background-color: #f7fbfb;
	padding-bottom: 4rem;
	padding-top: .5rem;
	text-align: center;
}

.title-2 {
	font-family: "Zilla Slab";
	text-align: center;
	margin: 2rem;
	font-size: 200%;
}


.prefooter-description {
	margin-left: 7rem;
	margin-right: 7rem;
}

.book-button {
	background-color: #336589;
	color: white;
	width: 150px;
	height: 40px;
	margin-top: 10px;
	border: none;
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;
}

footer {
	text-align: center;
}