* {
	font-family: "Courier New", monospace;
	font-size: 18px;
}

#external-style {
	color: yellow;
}

h1 {
	font-size: 30px;
}

#things-to-learn {
	text-transform: uppercase;
}

.languages-to-learn {
	background-color: lightgreen;
}

[value] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

h3 + ul {
	list-style-type: none;
}

header ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 5px;
}

section img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}